from os import path

# ========================
# MAIN SETTINGS

# make this something secret in your overriding app.cfg
SECRET_KEY = "default-key"

# contact info
ADMIN_NAME = "Steve Eardley"
ADMIN_EMAIL = ""

# service info
SERVICE_NAME = "ssh attacks"
SERVICE_TAGLINE = ""
HOST = "0.0.0.0"
DEBUG = True
PORT = 22236

# Path to the data folder (relative to portality/app.py)
DATA_DIRECTORY = '../data'
data_path = path.abspath(DATA_DIRECTORY)

# Specify full path to the directory and hostname for auth.log files. Comment out to use current system's.
AUTH_LOGS = "/home/steve/code/cl/ssh_attacks/src/data/log"
HOST_NAME = "Zeus"

# Path to GeoIP database. Can be hard coded or use the default joined path.
# GEOIP_PATH = '/path/to/GeoLiteCity.dat'
GEOIP_PATH = path.join(data_path, 'geoip/GeoLiteCity.dat')

# elasticsearch settings
ELASTIC_SEARCH_HOST = "http://127.0.0.1:9200" # remember the http:// or https://
ELASTIC_SEARCH_DB = "ssh_attacks"
INITIALISE_INDEX = True # whether or not to try creating the index and required index types on startup

# list of superuser account names
SUPER_USER = ["test"]

# Can people register publicly? If false, only the superuser can create new accounts
PUBLIC_REGISTER = False

# can anonymous users get raw JSON records via the query endpoint?
PUBLIC_ACCESSIBLE_JSON = True

