{% extends "base.html" %}

{% block content %}
  <hr>
  <div class="jumbotron">
      <h1>SSH Attacks</h1>
      <h4>Track and visualise the ssh entry attempts on Linux servers.</h4>
  </div>

<div class="container">
      <div class="row">
        <div class="col-md-4">
            <!-- I've fudged all of the CSS and javascript here, sorry. -->

            <!--[if IE]>
            <style>
            .frame {
                zoom: 0.3;
            }
            </style>
            <![endif]-->
            <style>
            .frame {
                width: 1200px;
                height: 800px;
                border: 2px solid black;
                -moz-transform: scale(0.3);
                -moz-transform-origin: 0 0;
                -o-transform: scale(0.3);
                -o-transform-origin: 0 0;
                -webkit-transform: scale(0.3);
                -webkit-transform-origin: 0 0;
            }
            </style>

            <script type="text/javascript">
            window.onload = function() {
                // It automatically scrolled to bottom; force it back. TODO: fix flicker.
                document.body.scrollTop = document.documentElement.scrollTop = 0;

                var dFrame = document.getElementById("data_frame");
                var eFrame = document.getElementById("explorer_frame");
                var mFrame = document.getElementById("map_frame");

                dFrame.contentWindow.document.onclick = function() {
                    window.location.href = "{{ url_for('data.index') }}";
                };

                eFrame.contentWindow.document.onclick = function() {
                    window.location.href = "{{ url_for('explorer.index') }}";
                };

                mFrame.contentWindow.document.onclick = function() {
                     window.location.href = "{{ url_for('map.index') }}";
                };

            };
            </script>

            <h2>View Data</h2>
          <p>See graphs and stats of the attacks incoming on the configured server, {{ app.config['HOST_NAME'] }}.</p>
          <iframe class="frame" id="data_frame" src="{{ url_for('data.index') }}#data" scrolling="no"></iframe>
        </div>
        <div class="col-md-4">
          <h2>Explore</h2>
          <p>Use a FacetView to query and filter all data stored in the index.</p>
            <iframe class="frame" id="explorer_frame" src="{{ url_for('explorer.index') }}#facetview" scrolling="no"></iframe>
       </div>
        <div class="col-md-4">
          <h2>Map</h2>
          <p>Show geolocation information of the attacks on an interactive map.</p>
            <iframe class="frame" id="map_frame" src="{{ url_for('map.index') }}" scrolling="no"></iframe>
        </div>
      </div>
    </div> <!-- /container -->
{% endblock %}